#doorWipe{
	width: 472px;
	height: 720px;
	position: absolute;
	top: 0px;
	left: 0px;
	background: url(media/door_wipe.png);
	background-repeat: no-repeat;
	overflow: hidden;
}

#doorHolderWipe{
	width: 472px;
	height: 720px;
	position: absolute;
	top: 44px;
	left: 35px;
	
	background-repeat: no-repeat;
	overflow: hidden;
}

#bgWipe{
	top: -163px;
	left: -94px;
	width: 768px;
	height: 1300px;
	position: absolute;
	background: url(media_vf_wipe/wipe_bg.png);
	overflow: hidden;
}

#maskWipe{
	top: -468px;
	left: -173px;
	width: 1536px;
	height: 2400px;
	position: absolute;
	background: url(media/vodafone_complex_mask.png);

}
#wrapperWipe{
	top: -64px;
	left: -26px;
	position: absolute;
	overflow: hidden;
	width: 768px;
	height: 1200px;
}

#demoCanvas{
	left: 25px;
	position: absolute;
	top: 58px;
}

#forGit{

}